---
interface ProjectSlideProps {
  projectName: string
  projectPrefix: string
  projectLink: string
}

let{ projectName, projectPrefix, projectLink } = Astro.props as ProjectSlideProps
---

<section class="w-full h-full relative">
  <img 
    src={`/projectImages/${projectPrefix}ImageSlide.webp`}
    alt={`Imagen del proyecto "${projectName}"`}
    width="1000"
    height="1000"
    class="w-full h-full object-cover absolute -z-10"
    >
  <section class="container w-1/2 bg-black/50 h-full text-[#f0f0f0] p-8">
    <h1 class="text-2xl uppercase mb-3">
      {projectName}
    </h1>
    <p class="text-xs font-thin">
      <slot/>
    </p>
    <a
      class="text-xs"
      href={`/${projectLink}`}>
      Ver más
    </a>
  </section>
</section>

<style>
  section {
    border-radius: .5rem;
    box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  img {
    border-radius: .5rem;
  }
  a {
    width: fit-content;
    color: #F0F075;
    border: 1px solid #F0F075;
    padding: .5rem 1rem;
    border-radius: .25rem;
    margin-top: auto;
    transition: all .3s;
  }

  a:hover {
    background-color: #F0F075;
    color: #000;
  }

  @media (max-width: 768px) {
    .container {
      padding: 1.5rem;
      width: 75%;
    }
    h1 {
      font-size: 1rem;
    }
    p {
      font-size: .5rem;
    }

    a {
      font-size: .5rem;
      padding: .25rem .5rem;
    }
  }
</style>