---
import Layout from "../layouts/Layout.astro";
import Card from "../components/others/Card.astro";
import Header from "../components/main/Header.astro";
import Footer from "../components/main/Footer.astro"; // Sigue importando el componente Footer
---

<Layout title="Enlaces">
    <main>
    <Header></Header>
      <div class="div-titulo">
        <h1 class="titulo">Enlaces</h1>
      </div>
      <div class="link-cards">
        <ul role="list" class="link-card-grid">
          <Card title="Web Principal" body="La Web del I.E.S. Bahía de Algeciras." href="https://iesbahia.es/"></Card>
          <Card title="Instagram" body="El Instagram del I.E.S. Bahía de Algeciras." href="https://www.instagram.com/iesbahiaalgeciras/"></Card>
          <Card title="Facebook" body="El Facebook del I.E.S. Bahía de Algeciras." href="https://www.facebook.com/iesbahiadealgeciras.algeciras"></Card>
        </ul>
      </div>
    </main>

    <Footer /> <!-- Usando el componente Footer -->
</Layout>

<style>

    .titulo {
        color: white;
        text-align: center;
    }

    .div-titulo {
        margin-left: auto;
        margin-right: auto;
    }

    .link-cards {
        margin-right: 1rem;
    }

    .link-card-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
        gap: 2rem;
        padding: 0;
    }
</style>
