---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Club Maker Bahía">
	<main>
		<h1>Club Maker</h1>
		<h2><span class="text-gradient">IES Bahía de Algeciras</span></h2>
		<p class="instructions">
			Página web oficial del <code>CLUB MAKER IES BAHIA</code>.<br />
			<strong>¿Qué es el Club Maker?</strong> En el Club Maker construimos y diseñamos prototipos y proyectos
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://clubmakerbahia.vercel.app/proyectos"
				title="Proyectos"
				body="Mira nuestros proyectos"
			/>
			<Card
				href="https://astro.build/integrations/"
				title="Integraciones"
				body="Potencia tu proyecto con nuevos frameworks y librerías."
			/>
			<Card
				href="https://astro.build/themes/"
				title="Temas"
				body="Explora una galaxia de temas iniciales creados por la comunidad."
			/>
			<Card
				href="https://astro.build/chat/"
				title="Comunidad"
				body="Ven a saludar a nuestra increíble comunidad en Discord. ❤️"
			/>
		</ul>
	</main>
	<footer>
		<p>&copy; 2024 Club Maker IES Bahía de Algeciras. Todos los derechos reservados.</p>
	</footer>
</Layout>

<style>
	main {
		background: #13151a;
		margin: auto;
		padding: 1.5rem;
		max-width: 80ch;
	}
	h1 {
		font-size: 3.5rem;
		font-weight: 800;
		margin: 0;
		text-align: center;
		color: white;
	}
	h2 {
		font-size: 2.5rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-top: 0.5rem;
		margin-bottom: 2rem;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 2rem 0;
		border: 1px solid var(--accent-light);
		background-color: var(--accent);
		padding: 1.5rem;
		border-radius: 0.4rem;
		color: white;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(255, 255, 255, 0.12);
		color: var(--accent-light);
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: var(--accent-light);
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
	footer {
		text-align: center;
		padding: 1rem;
		margin-top: 2rem;
		border-top: 1px solid var(--accent-light);
		color: var(--accent-light);
	}
</style>