---
import ProjectsLogic from '../components/ProyectsLogic';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Proyectos'>
  <main class="min-h-screen bg-gradient-to-b p-4 sm:p-6 md:p-8">
    <div class="max-w-4xl mx-auto">
      <nav class="mb-8">
        <a 
          href="https://clubmakerbahia.vercel.app" 
          class="boton-atras"
        >
          <svg width="16px" height="16px" xmlns="http://www.w3.org/2000/svg" class="volver-atras" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
          </svg>
          <span class="text-sm sm:text-base font-medium">Volver a la página principal</span>
        </a>
      
      </nav>
      <div class="div-titulo">
      <h1 class="titulo">Proyectos</h1>
    
      <p class="info-p">Puedes ver mas detalles de los proyectos dandole click</p>
    </div>
      <div class="div-logic">
        <ProjectsLogic client:load />
      </div>
    </div>
  </main>
</Layout>
<style>
  .boton-atras:visited{
    text-decoration: none;
    color: rgb(0, 255, 255);
  }
  .boton-atras{
    text-decoration: none;
    color: rgb(0, 255, 255);
  }
  .volver-atras{
    text-decoration: none;
    color: rgb(0, 255, 255);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .titulo{
    color: white;
    text-align: center;

  }
  .div-titulo{
    margin-left: auto;
    margin-right: auto;
  }
  .div-logic{
    color: white;
    curosr: pointer;
.div-logic {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en varias filas */
    gap: 16px; /* Espacio entre columnas */
    border: 2px solid blue; /* Borde azul */
    border-radius: 10px; /* Esquinas redondeadas */
    padding: 16px; /* Espaciado interno */
}

.div-logic > div {
    flex: 1 1 calc(33.33% - 16px); /* Tres columnas, ajusta según sea necesario */
    box-sizing: border-box; /* Incluye el padding y borde en el ancho total */
}  
}
  .info-p{
    color: white;
    text-align: center;
    margin-bottom: 80px;
  }
</style>
