---
import ProjectsLogic from '../components/ProyectsLogic';
import Layout from '../layouts/Layout.astro';
import Footer from '../components/main/Footer.astro';
import Header from '../components/main/Header.astro';
---
<!-- PROYECTOS.ASTRO - v0.2 -->
<Layout title='Proyectos'>
  <main class="min-h-screen bg-gradient-to-b p-4 sm:p-6 md:p-8">
    <div class="max-w-4xl mx-auto">
      <Header></Header>
      <div class="div-titulo">
      <h1 class="titulo">Proyectos</h1>
    
      <p class="info-p">Puedes ver mas detalles de los proyectos dandole click</p>
    </div>
      <div class="div-logic">
        <ProjectsLogic client:load />
      </div>
    </div>
  </main>
  <Footer></Footer>
</Layout>
<style>
  .titulo{
    color: white;
    text-align: center;

  }
  .div-titulo{
    margin-left: auto;
    margin-right: auto;
  }
  .div-logic{
    color: white;
    curosr: pointer;
}


.div-logic {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en varias filas */
    gap: 16px; /* Espacio entre columnas */
    border: 2px solid blue; /* Borde azul */
    border-radius: 10px; /* Esquinas redondeadas */
    padding: 16px; /* Espaciado interno */
}

.div-logic > div {
    flex: 1 1 calc(33.33% - 16px); /* Tres columnas, ajusta según sea necesario */
    box-sizing: border-box; /* Incluye el padding y borde en el ancho total */
}  
  .info-p{
    color: white;
    text-align: center;
    margin-bottom: 80px;
  }
</style>
