---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es-ES">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="PÁGINA OFICIAL DEL IES BAHÍA DE ALGECIRAS PARA EL CLUB MAKER" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/logos/clubmaker.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: #00adcc;
		--accent-light: #b2daff;
		--accent-dark: #002fff;
		background-color: #14151a;
		--accent-gradient: linear-gradient(45deg, var(--accent-dark), var(--accent-light) 30%, white 60%);
	}

	@font-face {
    font-family: 'ITC Avant Garde Pro';
    src: url(../fonts/ITCAvantGardePro-Md.otf) format('opentype');
  }
  html::-webkit-scrollbar {
    width: 6px;
  }
  html::-webkit-scrollbar-thumb {
    background-color: #DEFFFF;
    border-radius: 10px;
  }
  html::-webkit-scrollbar-track {
    background-color: #003737;
  }
  html::-webkit-scrollbar-thumb:active {
    background-color: #DEFFFF;
  }
  html::-webkit-scrollbar-corner {
    background-color: #003737;
  }
  @supports not selector(::-webkit-scrollbar) {
    html {
      scrollbar-width: thin;
      scrollbar-color: #DEFFFF #003737;
    }
  }
  html {
    background-image: linear-gradient(var(--accent-dark) 0%, var(--accent-light) 50%, var(--accent) 100%);
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
  }
  body {
    min-height: 90vh;
    overflow-x: hidden;
  }
</style>
